{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello article !</h1>
    <div class="container">
    {% for article in articles %}
        <div class="card">
            <div>
                <img src="/assets/images/{{ article.picture }}" alt="{{ article.article_name }}"/>
            </div>
            <div>
                <h1>{{ article.article_name }}</h1><br>
                <p>{{ article.description }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

